

@import url(//db.onlinewebfonts.com/c/123c7e674188c97798dd39cd41ff2d85?family=Brown+Regular);

@font-face {font-family: "Brown Regular"; src: url("//db.onlinewebfonts.com/t/123c7e674188c97798dd39cd41ff2d85.eot"); src: url("//db.onlinewebfonts.com/t/123c7e674188c97798dd39cd41ff2d85.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/123c7e674188c97798dd39cd41ff2d85.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/123c7e674188c97798dd39cd41ff2d85.woff") format("woff"), url("//db.onlinewebfonts.com/t/123c7e674188c97798dd39cd41ff2d85.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/123c7e674188c97798dd39cd41ff2d85.svg#Brown Regular") format("svg"); }

.App{
font-family: sans-serif; 
}

.loading{
    width: 100%;
    height: auto;
}

#thesis {
    color: #ee4724;
}

a {
    color: black; 
    text-decoration: none;
}


@media only screen and (max-width: 760px) {

    .about{
        padding: 5%; 
        max-width: 100%;
    }

    .about img{
        max-width: 100%;
        padding-bottom: 5px; 
    }

    .about div {
        
        padding-bottom: 10px;
    }
    .menu-click{
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
}

.show-caption{
    height: 0px;
    width: 0px;
    overflow: hidden;
}

.show-column{
  height: 0px;
  width: 0px;
  overflow: hidden;
}

.quarantony{
    height: 0px;
    width: 0px;
    overflow: hidden;
}

.mobile-show-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-show-column img{
    width: 100%;
    height: auto;
    padding: 2%;
}

.mobile-show-column iframe{
    align-self: center;
   
}

.show-column img{
    width: 100%;
    height: auto;

}

.computer-menu{
    height: 0px;
    overflow: hidden;
}

 .hidden-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 5s;
    
}

.header a {
    font-size: 20px;
    padding: 15px; 
}

.name{
    padding: 15px;
    font-size: 20px;
}

.dropdown{
   
    font-size: 30px;
    color: #5f5d5d; 
    cursor: pointer;
}
.content{
    display: flex;
    justify-content: space-between;
    padding: 20px;

}



.column{  
   display: none; 
}

.mobile-row-alignment{
    display: flex;
    flex-direction: column;
}

.mobile-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}


.image-wrapper{
    width: 46%;
    height: auto;
}
.image-wrapper img{
    width: 100%;
    height: auto;
    opacity: .5;
}

.image-wrapper img:hover{
    opacity: 1;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer a {
    padding: 10px;
}

.caption{
    padding: 5px;


}

.menu{
    cursor: pointer;
}
.about a {
    color: #ee4724;
}
}


@media only screen and (min-width: 761px) {


.about{
    padding: 5%;
    height: 100%;
    max-width: 100%;
    display: flex;
    overflow: hidden;
}

.about img {
    max-width: 45%;
    height: auto;
}

.about-text div, p {
    padding-left: 10%;
    padding-bottom: 10px;
}



.resume-download{
    color: #ee4724;
}

.mobile-row{
    display: none;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content { 
  display: none;
  position: absolute;
  background-color: white;
  color: #ee4724; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {

  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ee4724; color: white;}

.dropdown:hover .dropdown-content {display: block;}



.mobile-show-column{
    height: 0px; 
    width: 0px;
    overflow: hidden;
}

.show-column{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    overflow: hidden;
    margin-top: 2%;
}





.quarantony{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.quarantony div{
    padding: 10px;
}

.show-column img{
    width: 48%; 
    height: 48%; 
}

 .computer-menu{
     display: flex;
     justify-content: space-between;
 }


 .computer-links{
     display: flex;
 }

 .computer-links a {
   
     font-size: 16px;
 }

 .computer-links a:hover{
     cursor: pointer;
 }
 .hidden-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
}



.header{
    height: 0px;
    overflow: hidden;
    
}

.name{
    padding: 15px;
    font-size: 20px;
}

.dropdown{
   
    font-size: 30px;
    color: #5f5d5d; 
    cursor: pointer;
}
.content{
  
    padding: 20px;
    justify-content: center;

}

.column{
  
   display: flex;
   max-width: 100%;

}


.column img{
    
    width: 100%;
    height: 82%;
    background-color: white;
    opacity: .5;
}

.column img:hover{
    opacity: 1;
    cursor: pointer;
}

.image-wrapper{
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
}

.footer a {
    padding: 10px;
}

.caption{
    padding: 5px;
}

.menu-click{
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
}


}


